:root {
    --card-border: 1px solid rgba(0, 0, 0, 0.12);
    --input-border: 1px solid var(--theme-color-yellow);
    --card-border-bottom: 7px;
    --card-border-radius: 7px;
    --text-color: #000;
    --text-color-light: #fff;
    --theme-color: var(--theme-color-blue);
    --theme-color-red: #EF6F48;
    --theme-color-green: #7BA23F;
    --theme-color-blue: #5CB3DC;
    --theme-color-yellow: #D19826;

    --theme-color-dark: var(--theme-color-blue-dark);
    --theme-color-red-dark: #B54434;
    --theme-color-green-dark: #579572;
    --theme-color-blue-dark: #6699A1;
    --theme-color-yellow-dark: #DDC871;
}