:root {
    --card-border: 1px solid rgba(0, 0, 0, 0.12);
    --input-border: 1px solid var(--theme-color-yellow);
    --card-border-bottom: 7px;
    --card-border-radius: 7px;
}

[data-theme="light"] {
    --background-color: rgb(255, 255, 245);
    --text-color: #333;
    --text-color-light: #fff;
    --theme-color: var(--theme-color-blue);
    --theme-color-red: #ef6f48;
    --theme-color-green: #7ba23f;
    --theme-color-blue: #5cb3dc;
    --theme-color-yellow: #d19826;
    --theme-color-gay: #e4e4e4;

    --theme-color-dark: var(--theme-color-blue-dark);
    --theme-color-red-dark: #b54434;
    --theme-color-green-dark: #579572;
    --theme-color-blue-dark: #6699a1;
    --theme-color-yellow-dark: #ddc871;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-size: 1rem;
    line-height: 1.5;
    /* overflow-x: hidden; */
}

a {
    color: var(--theme-color);
    text-decoration: none;
}

a:hover {
    color: var(--theme-color-dark);
}

a:active {
    color: var(--theme-color-red);
}

a:visited {
    color: var(--theme-color-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

*::-webkit-scrollbar {
    width: 0.5em;
}

*::-webkit-scrollbar-thumb {
    background: skyblue;
    height: 0.5em;
    border-radius: 999em;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* border-radius: 999em; */
}