.dark-mode .shiki {
    background-color: var(--shiki-dark-bg) !important;
}

.dark-mode .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;

    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}

.shiki{
    overflow-x: auto;
    border-radius: var(--card-border-radius);
    padding: 1em;

}


/* .shiki code {
    display: block;
    padding: 0.5em;
} */

.shiki{
counter-reset: code-line;
}

.shiki .line {
    counter-increment: code-line;
}

.shiki .line::before {
    content: counter(code-line);
    /* color: var(--shiki-line-numbers); */
    /* padding-right: 1em; */
    text-align: right;
    width: 4em;
    display: inline-block;
    margin-right: 0.5em;
    background: rgba(100, 100, 100, 0.2);
}