.dark-mode .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;

    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}

.shiki{
    overflow-x: auto;
    /* width: fit-content; */
    min-width: 0;
}

.shiki code {
    display: block;
    overflow-x: auto;
    width: fit-content;
    padding: 0.5em;
}

